body {
  background-color: #f1faee;
}

h1,
h2 {
  color: #1d3557;
}

h2::first-letter {
  font-size: 40px;
}


button {
  font-size: 30px;
  background-color: #a8dadc;
}

#signup {
  background-color: #1d3557;
  color: #f1faee;
}

span {
  color: #457b9d;
}

.post a {
  color: #da2c38;
  font-weight: 700;
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}


.post button:active {
  background-color: #ff7d00;
}

.post:nth-of-type(2n) {
  background-color: #dfe8dc;
}

.tag {
  background-color: #e63946;
  color: #fff;
  font-size: 16px;
}

h2+button {
  font-size: 20px;
  background-color: #c0b9dd;
}

input[type=text] {
  background-color: #cce3de;
}

input[type=password] {
  background-color: #e63946;
}

p::first-line {
  color: #390099;
}

p::selection {
  background-color: #f5ee9e;
}

footer a {
  color: #cc5b1d;
}

footer>a {
  color: #6a994e;
}

a[href*="google"] {
  color: #390099;
}


.post button:hover {
  background-color: #6a994e;
  color: #f1faee;
}

button:hover {
  background-color: #2196f3;
}



/* 인라인(html 안에서 쓰는거) 스타일이 1등이지만 임폴턴트가 그 다음 우선순의  */
/* button {
  background-color: magenta !important;
} */