body {
  font-family: 'Kanit', sans-serif;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid darkorange;
}

#container div {
  width: 200px;
  height: 200px;
}