@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
  background-color: #2a9d8f;
  border: 5px solid #264653;
  color: #eae2b7;
  padding: 0.7em;
  width: 300px;
  font-size: 1.8em;
  text-align: center;
  margin: 20px;
  font-family: 'Jost', sans-serif;
  font-weight: 900;
}

h1:nth-of-type(2n) {
  background-color: #e9c46a;
}

h1:nth-of-type(3n) {
  background-color: #f4a261;
}

h1:nth-of-type(4n) {
  background-color: #e76f51;
}